<footer class="footer bg-dark py-3 mt-auto">
    <div class="container fixed-bottom justify-center">
        <span class="text-muted text-center">&copy; Explore Wild Australia 2024</span>
    </div>
</footer>
