body {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.unsplash.com/photo-1653184860948-3e215c726452?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.12rem rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
    transition: all 0.5 ease-in-out;
}

#home-logo:hover span {
    display: none;
}

#home-logo:hover:before {
    color: #e2e2e2;
    letter-spacing: 0.2rem;
    content: "Explore Wild Australia";
}

#navbar__links {
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
}
.cover-container {
    margin-top: 0.5rem;
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 0.5);
    border-bottom-color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.nav-link.active, .nav-link:visited {
    color: white;
    border-bottom-color: white;
}

.btn-secondary,
.btn-secondary:hover {
    color: #333;
    text-shadow: none;
}

.mapboxgl-map {
    margin-bottom: 2rem;
    border: 1rem #464646;
    filter: drop-shadow(2.5px 2.5px 2.5px #464646);
}
