<% layout('layouts/boilerplate')%>

<div class="container d-flex justify-content-center align-items-center mt-6">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-xl-8 offset-xl-2">
            <div class="card shadow">
                <img src="https://images.unsplash.com/photo-1515861461225-1488dfdaf0a8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8YXVzdHJhbGlhfGVufDB8fDB8fHww&auto=format&fit=crop&w=900&q=60"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" autofocus required>
                            <div class="valid-feedback">
                                Not bad!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                            <div class="valid-feedback">
                                Not bad!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            <div class="valid-feedback">
                                Not bad!
                            </div>
                        </div>
                        <div class="d-grid gap-2">
                        <button class="btn btn-success type=button">Register</button>
                    </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
